<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Biblioteca-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/biblioteca</jta-data-source>
    <class>sv.edu.uesocc.ingenieria.dsi135_2016.biblioteca.datos.definiciones.Categoria</class>
    <class>sv.edu.uesocc.ingenieria.dsi135_2016.biblioteca.datos.definiciones.DetallePrestamo</class>
    <class>sv.edu.uesocc.ingenieria.dsi135_2016.biblioteca.datos.definiciones.Editorial</class>
    <class>sv.edu.uesocc.ingenieria.dsi135_2016.biblioteca.datos.definiciones.Ejemplar</class>
    <class>sv.edu.uesocc.ingenieria.dsi135_2016.biblioteca.datos.definiciones.EstadoEjemplar</class>
    <class>sv.edu.uesocc.ingenieria.dsi135_2016.biblioteca.datos.definiciones.Libro</class>
    <class>sv.edu.uesocc.ingenieria.dsi135_2016.biblioteca.datos.definiciones.Pais</class>
    <class>sv.edu.uesocc.ingenieria.dsi135_2016.biblioteca.datos.definiciones.Prestamo</class>
    <class>sv.edu.uesocc.ingenieria.dsi135_2016.biblioteca.datos.definiciones.TipoUsuario</class>
    <class>sv.edu.uesocc.ingenieria.dsi135_2016.biblioteca.datos.definiciones.Usuario</class>
    <class>sv.edu.uesocc.ingenieria.dsi135_2016.biblioteca.datos.definiciones.UsuarioSistema</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
